:root{
    --primary: rgb(96, 184, 134);
    --secondary: rgb(201, 201, 201);
    --bg-secondary: #43494e;
    --danger: rgb(163, 18, 47);
    --dark: black;
}

body {
    background-color:gainsboro;
}

a {
    text-decoration: none;
    color:var(--secondary);
    font-size: larger;
}
a:hover {
    color:var(--primary);
}
.btn{
    border: none;
}
.card {
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(77, 75, 75, .5);
}

.bg-secondary{
    background-color: var(--bg-secondary)!important;
}

.btn-danger{
    background-color: var(--danger);
}

.btn-danger:hover{
    background-color: rgb(123, 9, 32);
}

h1, h3{
    color: var(--primary)
}

.menu{
    padding: 15% 0;
}

.menu .card-title, .card-subtitle{
    color: var(--secondary)
}

.menu .card-title{
    opacity: 0.8
}

.menu .card-subtitle{
    opacity: 0.5
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color:seagreen
}
.btn-primary:focus {
    background-color:#2e8b57;
    border: none;
    outline: none;
}

.github-fork-ribbon:before { background-color: #333!important;}

.card-produtos{
    padding: 15px;
}